.fridgeDoor {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}
.fridgeBody {
  margin-top: 100px;
  background-color: white;
  position: relative;
  width: 350px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr) 1fr;
}

.food {
  height: 100px;
  width: 100px;
}

.veggies {
  grid-row: 4/5;
  grid-column: 1/4;
  text-align: center;
  border: 5px solid black;
  border-radius: 5px;
}
.freezer {
  grid-row: 5/6;
  grid-column: 1/4;
  text-align: center;
  border: 5px solid black;
  border-radius: 5px;
}
