.fridgeDoor {
  background-color: gray;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  background-color: gray;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.8s ease-in-out;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}
.fridgeBody {
  background-color: white;
  position: relative;
  width: 350px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.food {
  background-color: aqua;
}
